<div class="text-center"><h3>Validate and Fill the info</h3></div>
<div class="row text-center">
	<div class="col-sm-2" [ngClass]="getDownloadClass(BuildingLists_updated)">
		<span class="glyphicon glyphicon-ok" *ngIf=BuildingLists_updated></span>
		Building List
	</div>
	<div class="col-sm-2" [ngClass]="getDownloadClass(Neiborhoodlists_updated)">
		<span class="glyphicon glyphicon-ok" *ngIf=Neiborhoodlists_updated></span>
		Neiborhood List
	</div>
	<div class="col-sm-2" [ngClass]="getDownloadClass(InterestRates_updated)">
		<span class="glyphicon glyphicon-ok" *ngIf=InterestRates_updated></span>
		Interest Rates List
	</div>
</div>
  <!-- <pre>{{BuildingLists | json}}</pre>
  <pre>{{Neiborhoodlists | json}}</pre>
  <pre>{{InterestRates | json}}</pre> -->
  <!-- <pre>{{defaultValue | json}}</pre> -->
<div *ngIf="defaultValue">
  <div class='row'>
    <div class='col-sm-2'> Neiborhood: </div>
    <div class='col-sm-6'>
      <my-autocomplete style="width:100%" #hoodSelector [neiborhoodlist]="Neiborhoodlists" [(selectedNeiborhood)]="defaultValue.selectedNeiborhood"></my-autocomplete>
    </div>
    <div class='col-sm-4'>Location: {{defaultValue.selectedNeiborhood.Region}}</div>
  </div>

  <div class='row'>
    <div class='col-sm-2'>
      <select class="form-control form-group" [(ngModel)]="defaultValue.nbrAppartment">
        <option *ngFor="let building of BuildingLists" [value]="building.Appartment">{{building.Title}} - {{building.Appartment}}</option>
      </select>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"># Rented</div>
            <input type="number" class="form-control"
              [(ngModel)]="defaultValue.nbrAppartment">
          </div>
      </div>
    </div>
    <div class='col-sm-4'>
      <!-- <OverlayTrigger placement="top" overlay={youLiveSomewhere}>
      </OverlayTrigger> -->
        <span>Include your appartment that you will live in as rented.</span>
    </div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>
    <!-- <OverlayTrigger placement="top" overlay={whereDoesItComeFrom}>
    </OverlayTrigger> -->
    <Button>Estimate Rent</Button>
  </div>
  <div class='col-sm-6'>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="number" class="form-control"
          [(ngModel)]="defaultValue.averageRent">
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
     <!-- <OverlayTrigger placement="top" overlay={rentIncreaseToolTip}> -->
      <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">% Rent increase</div>
            <input type="number" class="form-control"
              [(ngModel)]="defaultValue.rentIncreaseRate"
              >
          </div>
      </div>
  </div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>House Value: </div>
  <div class='col-sm-3'>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control"
            [(ngModel)]="defaultValue.houseValue">
        </div>
    </div>
  </div>
  <div class='col-sm-3 text-center'>{{defaultValue.houseValue | currency:'USD':true}} </div>
  <div class='col-sm-4'>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">% Increase yearly</div>
          <input type="number" class="form-control"
            [(ngModel)]="defaultValue.houseYearlyPriceIncrease" >
        </div>
    </div>
  </div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>Down Payment: </div>
  <div class='col-sm-3'>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">%</div>
          <input type="number" class="form-control"
            [(ngModel)]="defaultValue.downPayment">
        </div>
    </div>
  </div>
  <div class='col-sm-3 text-center'>{{defaultValue.houseValue * defaultValue.downPayment / 100 | currency:'USD':true}} </div>
  <div class='col-sm-4'>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">% Long investment</div>
          <input type="number" class="form-control"
            [(ngModel)]="defaultValue.longTermInvestmentReturnRate">
        </div>
    </div>
  </div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>
    <select placeholder="Interest Rate" class="form-control form-group" [(ngModel)]="defaultValue.intRate">
      <option *ngFor="let rate of InterestRates" [value]="rate.latestIntRate">{{rate.name}} - {{rate.latestIntRate}}</option>
    </select>
  </div>
  <div class='col-sm-6'>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">%</div>
          <input type="number" class="form-control"
            [(ngModel)]="defaultValue.intRate">
        </div>
    </div>
  </div>
  <div class='col-sm-4'></div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>Period</div>
  <div class='col-sm-6'>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Years:</div>
        <input type="number" class="form-control"
          [(ngModel)]="defaultValue.nbrYears">
      </div>
    </div>
  </div>
  <div class='col-sm-4'></div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>Fix expenses (taxes, repair, fee):</div>
  <div class='col-sm-3'>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">%</div>
        <input type="number" class="form-control"
          [(ngModel)]="defaultValue.fixExpenses">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>{{defaultValue.fixExpenses}} % or {{defaultValue.houseValue*defaultValue.fixExpenses/100 | currency:'USD':true}}/year</div>
  <div class='col-sm-4'></div>
  </div>

  <div class='row'>
  <div class='col-sm-2'>Welcome taxes & moving in</div>
  <div class='col-sm-3'>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">%</div>
        <input type="number" class="form-control"
          [(ngModel)]="defaultValue.oneTimeExpenses">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>{{defaultValue.oneTimeExpenses | number:'.2-2'}} % or {{defaultValue.houseValue*defaultValue.oneTimeExpenses/100 | currency:'USD':true}}</div>
  <div class='col-sm-4'></div>
  </div>

  <div class='row'>
  <div class='col-sm-2'></div>
  <div class='col-sm-10'></div>
  </div>

  <div class='row text-center'>
    <div class='col-sm-12'>
      <button
        class='btn btn-lg btn-success'>
        Calculate
      </button>
    </div>
  </div>
</div>